body {
    color: whitesmoke;
    background-color: #222222;
    font-family: monospace,'Courier New', Courier,  sans-serif;
    margin: 0;
}

.app-area {margin: 0 auto 20px;
}

.instructions-display {
    /* border: 1px solid red; */
    color: rgb(188, 160, 1);
    z-index: 1000;
    margin-top: 10px;
}

.question-container {
    /* border: 1px solid orange; */
    display: flex;
    height: 330px;
    width: 100%;
    margin: 20px auto;

}

.question-display {
    /* border: 1px solid red; */
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    color: powderblue;
    white-space: pre;
    tab-size: 40px;
    margin: auto;
}

#result {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    height: 30px;
    margin-bottom: 10px;
}

#result-display {
    /* border: 1px solid red; */
    font-weight: bold;
    letter-spacing: 1.5px;
}

#result-display.incorrect {
    color: red;
}

#result-display.correct {
    color: rgb(35, 230, 35);
}

.user-input {
    display: flex;
    margin: auto;
    border: 5px solid rgb(104, 104, 104);
    border-radius: 5px;
    background-color: #222222;
    outline: none;
    font-weight: bolder;
    color: powderblue;
    font-size: large;
    text-align: center;
    width: 80%;
    min-width: 450px;
    height: 60px;
}

.typing:focus {
    border: 5px solid rgb(207, 135, 42);
}

.correct:focus {
    border: 8px solid green;
    color: rgb(35, 230, 35);
}

.incorrect:focus {
    border: 5px solid rgb(203, 0, 0);
    color: red;
}

.hint-incorrect {
    color: red;
}

#e-t {
    height: 100px;
    padding-top: 10px;
    text-align: center;
    font-size: 3rem;
    align-content: center;
    justify-content: center;
    position: relative;
    display: none;
}

.home {
    padding-top: 15px;
    padding-bottom: 15px;
}

.home:not(.active) {
    border-bottom: 1px solid powderblue;
}


/* SIDEBAR */
.sidebar {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 190px;
    background-color: #131313;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: powderblue;
    padding: 3px 20px 3px 20px;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a.active {
    background-color: powderblue;
    color: navy;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }

    #emmet-type {
        display: none;
    }

    #e-t {
        display: inline-block;
    }
    .home:not(.active) {
        border-bottom: 1px solid powderblue;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
    #emmet-type {
        display: block;
    }
    #e-t {
        display: none;
    }
}

#emmet-type {
    font-size: 1.5rem;
}
