/* * {
    text-align: center;
} */

/* div {
    margin: 20px;
} */

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.question-display {
    white-space: pre;
    /* tab-size: ; */
}

.user-input {
    border: 4px solid black;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 400px;
}

.typing:focus {
    border: 4px solid orange;
}

.correct:focus {
    border: 4px solid green;
}

.incorrect:focus {
    border: 4px solid red;
}

.app-area {
    /* display: block;
    align-self: center; */
    /* text-align: center; */
    /* margin: auto; */
}

.app-area > div {
    margin: 20px;
}


/* SIDEBAR */
.sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 3px 20px 3px 20px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: darkgreen;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

